	<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="11" comments="New defect" colour="red" type="bug"></stats>
        <stats number="12" comments="Overdue tasks" colour="red" type="tasks"></stats>
        <stats number="18" comments="Complaints" colour="red" type="frown-o"></stats>
        <stats number="20" comments="Unassigned PM" colour="red" type="support"></stats>
   

    </div>
			   
</div>
